{
    "version": "2018-05-29",
    "operation": "Query",
    "query": {
        "expression": "PK = :PK",
        "expressionValues": {
            ":PK": $util.dynamodb.toDynamoDBJson("Client#${ctx.args.phaseStatus}")
        }
    },
}