{
    "version": "2018-05-29",
    "operation": "Invoke",
    "payload": {
        "input": $util.toJson($ctx.args.input),
        "action": $util.toJson("UpdateUserMast"),
        "userID": $util.toJson($ctx.identity.username),
    }
}